/* Required for AndiDroid */
body, html, .card {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	overflow: auto;
}

.card {
	font-family: arial;
	font-size: 20px;
	text-align: center;
	color: black;
	background-color: white;
}

/*
Content
*/

translations,
words {
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}

words {
	opacity: 1;
}

words > word {
	display: block;
	position: absolute;
	font-size: 1rem;
	outline: 1px dotted pink;
	color: transparent;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}

words > word:hover {
	outline: 2px solid pink;
}

words.hidden > word {
	outline: 1px solid transparent;
}

translations {
	display: none;
}

translations.visible {
	display: block;
}

translation {
	/* Display: table will the translation element to grow to fit the text,
	while display: block will ensure the element is always sized like defined by
	the Content HTML but the contained text might overflow. */
	display: table/*block*/;
	position: absolute;
	font-size: 10%;
	background: white;
	border: 2px solid black;
	border-radius: 5px;
	color: black;
	padding: 0.5em;
	word-break: keep-all;
	box-sizing: border-box;
	text-align: center;
	/*font-family: "CC Wild Words";*/
}

/*
Front / Back
*/

#content {
	position: relative;
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
}

#content.debug {
	outline: 1px solid green;
}

img {
	user-select: none;
	pointer-events: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

img.debug {
	outline: 1px solid red;
}

#popup {
	display: none;
	color: black;
	background: white;
	padding: 5px;
	position: absolute;
	border: 1px solid black;
	border-radius: 3px;
	font-size: 1rem;
	text-align: left;
}

#popup > .reading {
	font-size: 1rem;
	color: rgb(44, 44, 44);
	margin-bottom: 6px;
	border-bottom: 1px solid lightgrey;
	display: inline-block;
}

#popup > .meaning {
	font-size: 0.9rem;
	color: black;
}

#controls {
	padding: 0.5rem;
	user-select: none;
}

button {
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding: 0.3rem 0.5rem;
}

button.on {
	border-color: rgb(115, 184, 115);
	background: #7fca7f;
	color: white;
}

button.off {
	border-color: rgb(199, 118, 118);
	background: #db8080;
	color: white;
}

/*
Edit GUI
*/

#edit-gui {
	display: none;
}

#edit-gui.visible {
	display: block;
}

#edit-gui > p {
	font-size: 1rem;
}

#draggable,
#rectangle {
	position: absolute;
	top: 0;
	left: 0;
}

#draggable {
	z-index: 9;
	pointer-events: none;
}

#draggable > .handles > .handle {
	width: 1rem;
	height: 1em;
	min-width: 1rem;
	min-height: 1rem;
	max-width: 1rem;
	max-height: 1rem;
	position: absolute;
	font-size: 0.7rem;
	text-align: center;
	user-select: none;
	pointer-events: all;
	color: transparent;
}

#draggable.debug > .handles > .handle {
	border: 1px solid black;
	color: black;
}

#top-left-handle {
	top: 0;
	left: 0;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	filter: invert(100%);
	cursor: move;
}
#bottom-right-handle {
	bottom: 0;
	right: 0;
	border-left: 1px solid black;
	border-top: 1px solid black;
	filter: invert(100%);
	cursor: se-resize;
}

#rectangle {
	width: 150px;
	height: 150px;
	opacity: 0.3;
	background: rgba(0, 0, 0, 0.575);
	outline: 1px solid black;
	z-index: 8; /* Just under the handles */
}

#fields {
	position: absolute;
	z-index: 7;
	top: 0;
	right: 0;
	padding: 0.3rem;
	box-sizing: border-box;
	background-color: rgba(211, 211, 211, 0.555);
	width: 200px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#fields input,
#fields textarea {
	padding: 0.3rem;
	border-radius: 3px;
	border: 1px solid lightgrey;
}

#fields button {
	margin-top: 3px;
}

#fields > .hidden {
	display: none;
}

/*
Debug
*/

#cursor-position {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	color: black;
	font-size: 0.8rem;
	text-align: left;
	font-weight: bold;
	background: white;
	user-select: none;
}

#cursor-position.visible {
	display: block;
}

#console {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	color: white;
	font-size: 0.8rem;
	text-align: left;
	font-weight: bold;
	background: black;
	user-select: none;
	width: 100%;
	height: 15%;
	overflow-y: auto;
	padding: 0.5rem;
	box-sizing: border-box;
}

#console.visible {
	display: block;
}